.page{
    width: 100%;
    min-height: 100vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
}

.margin {
    margin: 0 1.25rem;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 5.625rem
}


@media screen and (min-width: 1024px) {
    .gap {
        gap: 11.25rem
    }
}

@media screen and (min-width: 1024px) {
    .margin {
        margin: 0 6.25rem;
    }
}

@media screen and (min-width: 1536px) {
    .margin {
        margin: 0 12.5rem;
    }
}