.flash1 {
  position: absolute;
  top: -40px;
  left: -40px;
}
.cardComponent {
  width: 100%;
  padding: 100px;
  /* backdrop-filter: blur(126px); */
  /* background-color: var(--background); */
  backdrop-filter: blur(10px);
  background-color: rgba(22, 22, 21, 0.01);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
  border-radius: 22px;
  padding: 8%;
  box-shadow: 0 4px 53px rgba(255, 168, 15, 0.1);
}
.cardComponent:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 1px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 116, 15, 0.9804),
    rgba(255, 213, 0, 0.22)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.cardComponent p {
  color: #fafafa;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.cardComponent h5 {
  color: rgba(255, 168, 15, 0.98);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.cardComponent li {
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 5%;
}
.cardComponent span {
  color: rgba(255, 168, 15, 0.98);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

@media (max-width: 1404px) {
  .cardComponent {
    padding: 1%;
    padding-top: 5%;
  }
}

@media (max-width: 1200px) {
  .cardComponent {
    padding: 8%;
  }
}
