.brokerCard {
    /* background-color: var(--background); */
    backdrop-filter: blur(10px);
    background-color: rgba(22, 22, 21, 0.01);
    position: relative;
    border-radius: 10px;
    border-color: #FFA80FFA;
    border-style: solid;
    border-width: 1px;
}

.flash1 {
    position: absolute;
    top: 129px;
    left: -44px;
}

.flash2 {
    position: absolute;
    top: -37px;
    left: -37px;
}

.textTitle {
    font-size: 36px;
    line-height: 44px;
    color: white;
    text-align: center;
}

.textYellow {
    color: #FFA80FFA;
}

.textDesc {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: white;
}

.titleCard {
    color: #FFA80FFA;
    font-size: 27px;
}

.descCard {
    font-size: 15px;
}

.brokerCardBackground {
    background: url("../../../../../public/assets/img/broker/cardsBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0rem;
}


.cardButton {
    display: flex;
    height: 2.5rem;
    width: 6.875rem;
    padding: 1rem 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    background: rgb(153, 110, 32);
    background: linear-gradient(0deg, rgba(153, 110, 32, 1) 0%, rgba(255, 168, 15, 1) 74%);
    color: rgba(255, 255, 255, 0.98);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.cardButton2 {
    display: flex;
    height: 2.5rem;
    width: 6.875rem;
    padding: 1rem 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: none;
    background: rgb(153, 110, 32);
    background: linear-gradient(0deg, rgba(153, 110, 32, 1) 0%, rgba(255, 168, 15, 1) 74%);
    color: rgba(255, 255, 255, 0.98);
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-top: 2rem;
}

.brDesktop {
    display: none;
}

.cardButton {
    display: none;
}

.mTop {
    margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
    .brDesktop {
        display: block;
    }

    .brokerCardBackground {
        background: url("../../../../../public/assets/img/broker/cardsBackground.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10rem;
        padding: 5rem 10rem 7rem 10rem;
    }

    .cardButton {
        display: flex;
    }

    .mTop {
        margin-top: 0rem;
    }

    .cardButton2 {
        display: none;
    }
}