@use "../../utils" as *;

.referrals-about-container {
  display: flex;
  padding: 6.25rem 1.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  @media #{$min-sm} {
    flex-direction: row;
    padding: 6.25rem;
  }
}

.referrals-about-cta {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.375rem;
  align-self: stretch;

  @media #{$min-sm} {
    flex-shrink: 0;
  }
}

.referrals-about-cta-title {
  color: #000;

  /* H3/Bold */
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem; /* 120% */

  @media #{$min-sm} {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
}

.referrals-about-cta-title-highlight {
  color: rgba(255, 168, 15, 0.98);

  /* H3/Bold */
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;

  @media #{$min-sm} {
    font-size: 3.75rem;
    line-height: 4.5rem;
  }
}

.referrals-about-cta-description {
  color: #000;

  /* Subtle 2/Regilar */
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 120% */
}

.referrals-about-md-image {
  display: none;
  padding: 3.5625rem 3.75rem;
  align-items: center;
  gap: 0.625rem;

  @media #{$min-lg} {
    display: flex;
  }
}

.referrals-about-sm-image {
  display: block;
  padding: 3.5625rem 3.75rem;
  align-items: center;
  gap: 0.625rem;

  @media #{$min-lg} {
    display: none;
  }
}

.referrals-about-benefits-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.referrals-about-benefits {
  display: flex;
  padding: 0rem 0.75rem;
  align-items: center;
  gap: 2.375rem;
}

.referrals-about-benefits-image {
  display: flex;
  padding: 0rem 0.75rem;
  align-items: center;
  gap: 2.375rem;
}

.referrals-about-benefits-text {
  color: #000;

  /* Subtle 1/Medium */
  font-family: poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 123.077% */
}

.referrals-about-benefits-text-highlight {
  color: rgba(255, 168, 15, 0.98);

  /* Subtle 1/Medium */
  font-family: poppins;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
}
