.page{
    width: 100%;
    min-height: 100vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 5.625rem
}


@media screen and (min-width: 1024px) {
    .gap {
        gap: 11.25rem
    }
}