.card {
    position: relative;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Poppins;
    border-radius: 10px;
    padding: 5rem 0;
    box-shadow: 0 4px 53px rgba(255, 168, 15, 0.1);
}

.margin {
    padding: 0 6.25rem;
}


@media screen and (max-width: 1024px) {
    .margin {
        padding: 0 1rem;
    }
}